/* med/shop/static/shop/css/styles.css */

.bcktl {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.bcktl:hover {
    background-color: #e10202;
}