{% extends 'shop/basic.html' %}
{% load static %}

{% block css %}
       
        .col-md-3 {
            display: inline-block;
            margin-left: -4px;

        }

        .col-md-3 {
            width: 100%;
            height: auto;
        }



        body .no-padding {
            padding-left: 0;
            padding-right: 0;
        }

        body .carousel-indicators{
        bottom:0;
        margin-bottom: -15px;
        background-color: #A9A9A9;
        }
        .carousel-indicators .active{
        background-color: blue;
        margin-bottom: -6px;
        }

        .w3-button {
          background-color: #f1f1f1; /* Background color */
          color: #000; /* Text color */
          border: none; /* Remove border */
          padding: 10px 15px; /* Padding around the text */
          font-size: 18px; /* Font size */
          cursor: pointer; /* Cursor style */
          transition: background-color 0.3s; /* Smooth background color transition */
        }
        
        .w3-button:hover {
          background-color: #ddd; /* Darker background color on hover */
        }
        
        .w3-display-left {
          position: absolute; /* Position absolutely within parent container */
          top: 50%; /* Align vertically centered */
          left: 10px; /* Adjust left positioning as needed */
          transform: translateY(-50%); /* Center vertically */
        }
        
        .w3-display-right {
          position: absolute; /* Position absolutely within parent container */
          top: 50%; /* Align vertically centered */
          right: 10px; /* Adjust right positioning as needed */
          transform: translateY(-50%); /* Center vertically */
        }
        
        .w3-button::before {
          font-family: 'Font Awesome 5 Free'; /* Font Awesome family */
          content: attr(data-icon); /* Insert the data-icon content */
          margin-right: 8px; /* Space between icon and text */
        }
        .carousel-control-prev-icon {
          margin-top: 100px;
          background: black no-repeat center center;
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
          z-index: 1020;
      }
      
        .carousel-control-next-icon {
          margin-top: 100px;
          background: black no-repeat center center;
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");
          z-index: 1020;
      
      }

      @media (max-width:450px){
        html{
            font-size: 40%;
        }
    
    }
    @media (max-width:650px){
        html{
            font-size: 50%;
        }
    
    }
    @media(max-width:1200px){
        html{
            font-size: 60%;
        }
    }
    @media(max-width:380px){
        html{
            font-size: 30%;
        }
    }
    
        
    {% endblock %}
{% block body %}



<h1 text align="center">Medicines Catalog</h1>
<!--        carousel indicators starts from here-->

<div class="container" xmlns:data="http://www.w3.org/1999/xhtml">
    <div id="demo" class="carousel slide my-3" data-ride="carousel">'
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
    {% for i in range %}
       <li data-target="#demo" data-slide-to="{{i}}" ></li>
    {% endfor %}
</ul>

<!--        slideshow starts here-->

<div class="container carousel-inner no-padding">

  <div class="carousel-item active">
    


    {% for i in product %}
    <div class="col-xs-3 col-sm-3 col-md-3">
      <div class="card" style="width: 18rem;">
        <img src='/media/{{i.image}}' class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title" id="namepr{{i.id}}">{{i.product_name}}</h3>
          <h6 class="card-title" >Price : <span id="pricepr{{i.id}}">{{i.price}}</span></h6>
          <span id="divpr{{i.id}}" class="divpr">
            <button id="pr{{i.id}}" class="btn btn-primary cart">Add To Cart</button>
          </span>
          <a href="/shop/products/{{i.id}}"><button id="qv{{i.id}}" class="btn btn-primary cart">QuickView</button></a>
        </div>
      </div>
    </div>
    {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
  </div><div class="carousel-item">
    {% endif %}

    {% endfor %}
</div>




      </div>
        </div>

 
<a class="carousel-control-prev " href="#demo" role="button" data-slide="prev"> 
   <span class="carousel-control-prev-icon" aria-hidden="true" ></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#demo" role="button" data-slide="next"> 
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a> 

 {% endblock %}
 


{% block js %}
<script>
  // Find out the cart items from localStorage
  if (localStorage.getItem('cart') == null) {
      var cart = {};
  } else {
      cart = JSON.parse(localStorage.getItem('cart'));
      updateCart(cart);
  }
  // If the add to cart button is clicked, add/increment the item
  //$('.cart').click(function() {
  $('.divpr').on('click', 'button.cart', function() {
      var idstr = this.id.toString();
      if (cart[idstr] != undefined) {
          qty = cart[idstr][0] + 1;
          
      } else {
          qty = 1;
          name = document.getElementById('name'+idstr).innerHTML;
          price = document.getElementById('price'+idstr).innerHTML;
          cart[idstr] = [qty, name,parseInt(price)];
  
      }
      updateCart(cart);
  });
  //Add Popover to cart
  $('#popcart').popover();
  updatePopover(cart);
  
  function updatePopover(cart) {
      console.log('We are inside updatePopover');
      var popStr = "";
      popStr = popStr + "<h5> Cart for your items in my shopping cart </h5><div class='mx-2 my-2'>";
      var i = 1;
      for (var item in cart) {
          popStr = popStr + "<b>" + i + "</b>. ";
          popStr = popStr + document.getElementById('name' + item).innerHTML.slice(0, 19) + "... Qty: " + cart[item][0] + '<br>';
          i = i + 1;
      }
      popStr = popStr + "</div> <a href='/shop/checkout'><button class='btn btn-primary' id ='checkout'>Checkout</button></a> <button class='btn btn-primary' onclick='clearCart()' id ='clearCart'>Clear Cart</button>     "
      console.log(popStr);
      document.getElementById('popcart').setAttribute('data-content', popStr);
      $('#popcart').popover('show');
  }
  
  function clearCart() {
      cart = JSON.parse(localStorage.getItem('cart'));
      for (var item in cart) {
          document.getElementById('div' + item).innerHTML = '<button id="' + item + '" class="btn btn-primary cart">Add To Cart</button>'
      }
      localStorage.clear();
      cart = {};
      updateCart(cart);
  }
  
  function updateCart(cart) {
      var sum = 0;
      for (var item in cart) {
          sum = sum + cart[item][0];
          document.getElementById('div' + item).innerHTML = "<button id='minus" + item + "' class='btn btn-primary minus'>-</button> <span id='val" + item + "''>" + cart[item][0] + "</span> <button id='plus" + item + "' class='btn btn-primary plus'> + </button>";
      }
      localStorage.setItem('cart', JSON.stringify(cart));
      document.getElementById('cart').innerHTML = sum;
      console.log(cart);
      updatePopover(cart);
  }
  // If plus or minus button is clicked, change the cart as well as the display value
  $('.divpr').on("click", "button.minus", function() {
      a = this.id.slice(7, );
      cart['pr' + a][0] = cart['pr' + a][0] - 1;
      cart['pr' + a][0] = Math.max(0, cart['pr' + a][0]);
      
      if(cart['pr' + a][0] == 0){
        document.getElementById('divpr' + a).innerHTML = '<button id="' + a + '" class="btn btn-primary cart">Add To Cart</button>'
        delete cart['pr'+a];
      }
      else{
        document.getElementById('valpr' + a).innerHTML = cart['pr' + a][0];
      }
      updateCart(cart);
  });
  $('.divpr').on("click", "button.plus", function() {
      a = this.id.slice(6, );
      cart['pr' + a][0] = cart['pr' + a][0] + 1;
      document.getElementById('valpr' + a).innerHTML = cart['pr' + a][0];
      updateCart(cart);
  });
  </script>
{% endblock %}